/* default style */
body {
  background-color: #ffffff;
}
.mobile-btn {
  background-color: #f85606;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin: 20px auto;
}
/* header style */
/* header left */
.header-left img {
  width: 60px;
  color: orange;
}
.header-left h2 {
  color: #f85606;
  font-size: 20px;
}

/* header right */
.header-right input {
  width: 75%;
  outline: none;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 5px 7px;
}
.header-right span {
  background-color: #f85606;
  color: #fff;
  padding: 0 10px;
  line-height: 40px;
}
.card-mobile {
  padding: 20px;
  box-shadow: 2px 4px 8px rgba(90, 89, 89, 0.57);
  text-align: center;
}
.card-mobile img {
  width: 100px;
  height: 100%;
}

/* card details */
.card-details {
  padding: 10px;
  box-shadow: 2px 4px 8px rgba(90, 89, 89, 0.57);
  overflow: hidden;
}
.card-details ul {
  font-size: 15px;
}
